<form class="cantrip-counter-config-form">
  <div class="cantrip-counter-form-row cantrip-counter-form-row-spaced">
    <label for="cantrip-counter-actor-bonus">
      Additional Cantrip Uses
    </label>
    <input
      id="cantrip-counter-actor-bonus"
      type="number"
      name="bonusCantrips"
      value="{{bonusCantrips}}"
      min="0"
      step="1">
  </div>

  <hr>

  <div class="cantrip-counter-form-row">
    <input
      id="cantrip-counter-conversion-override"
      type="checkbox"
      name="overrideEnabled"
      data-action="toggleOverride"
      {{#if overrideEnabled}}checked{{/if}}>
    <label for="cantrip-counter-conversion-override">
      Enable Conversion Override
    </label>
  </div>

  <div class="cantrip-counter-form-row">
    <label for="cantrip-counter-cost-per-level">
      Cost Per Level
    </label>
    <input
      id="cantrip-counter-cost-per-level"
      type="number"
      name="costPerLevel"
      value="{{costPerLevel}}"
      data-conversion-override-field
      min="1"
      step="1"
      {{#unless overrideEnabled}}disabled{{/unless}}>
  </div>

  <div class="cantrip-counter-form-row">
    <label for="cantrip-counter-max-conversion-level">
      Max Conversion Level
    </label>
    <input
      id="cantrip-counter-max-conversion-level"
      type="number"
      name="maxConversionLevel"
      value="{{maxConversionLevel}}"
      data-conversion-override-field
      min="1"
      max="9"
      step="1"
      {{#unless overrideEnabled}}disabled{{/unless}}>
  </div>

  <div class="cantrip-counter-form-row">
    <label for="cantrip-counter-max-conversions">
      Max Conversions Per Long Rest
    </label>
    <input
      id="cantrip-counter-max-conversions"
      type="number"
      name="maxConversionsPerLongRest"
      value="{{maxConversionsPerLongRest}}"
      data-conversion-override-field
      min="1"
      step="1"
      {{#unless overrideEnabled}}disabled{{/unless}}>
  </div>

  <div class="cantrip-counter-form-actions">
    <button
      type="submit"
      data-action="submit">
      Save
    </button>
  </div>
</form>
